doctype html
//
  Spatial by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title Generic - Spatial by TEMPLATED
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    noscript
      | &lt;link rel=&quot;stylesheet&quot; href=&quot;css/skel.css&quot; /&gt;
      | &lt;link rel=&quot;stylesheet&quot; href=&quot;css/style.css&quot; /&gt;
      | &lt;link rel=&quot;stylesheet&quot; href=&quot;css/style-xlarge.css&quot; /&gt;
  body
    header#header
      h1
        strong
          a(href='index.html') Spatial
        |  by Templated
      nav#nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='generic.html') Generic
          li
            a(href='elements.html') Elements

    section#main.wrapper
      .container
        include ./places/evert-taube
        hr
        include ./places/modern-waterfront

    // Footer
    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-facebook(href='#')
          li
            a.icon.fa-twitter(href='#')
          li
            a.icon.fa-instagram(href='#')
        ul.copyright
          li &copy; Untitled
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
