section#two.wrapper.style2.special.get-notified
  .container
    header
      h2 New Places in Your City
      p Get notified about them
    .select-wrapper
      select
        option Vilnius
        option Stockholm

    input(type='email' placeholder='your@email.com')
    ul.actions
      li
        a.button.special Get notified
      li
        a.button Add your place
