doctype html
html
  head
    title Stories from Vilnius
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    link(rel='stylesheet' href='css/app.css')
  body
    include ./get-notified
    section#main.wrapper
      .container
        include ./places/evert-taube
    section#main.wrapper
      .container
        include ./places/modern-waterfront
    section#main.wrapper
      .container
        include ./places/park-of-ponds

    footer#footer
      .container
        ul.copyright
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
