header.major.special
  h2 Evert Taube Square
  p in Stockholm, Sweden
  p by Domas Bitvinskas
a.image.fit.place(href='img/1-evert-taube.jpg' style="background-image: url('img/1-evert-taube-300.jpg')")
h3 How does this place sound
<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203472507&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

h3 Where it is
a.image.fit.map(href='img/1-evert-taube-map.png' style="background-image: url('img/1-evert-taube-map.png')")
