header.major.special
  h2 Evert Taube Square
  p in Stockholm, Sweden
  p by Domas Bitvinskas
a.image.fit(href='#')
  img(src='img/1-evert-taube.jpg', alt='')
h3 How does this place sound
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203472507&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

h3 Where it is
a.image.fit(href='img/1-evert-taube-map.png')
  img(src='img/1-evert-taube-map.png', alt='')
